[Unit]
Description=Ruuvi sender service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/RuuviSender/RuuviSender.py
PIDFile=/var/run/ruuvisender.pid
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
